body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', 'Ubuntu Mono', monospace;
}

.content {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
}

.header {
    padding: 12px 0;
    margin: 0;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
}

.header-divider {
    border-top: 1px solid gray;
    margin: 0;
    width: 100%;
}

.header h1 {
    margin: 0;
    font-size: 1.2rem;
}

.header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header ul li {
    display: inline-block;
    margin: 0 10px;
}

.header ul li a {
    text-decoration: none;
    color: gray;
}

.header ul li a:hover {
    color: black;
}

.header ul li a.active {
    color: black;
}

footer {
    background-color: rgb(0, 0, 0);
    color: white;
    border-top: 1px solid gray;
    padding: 12px 0;
    margin: 0;
    text-align: center;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}