<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		<div class="header">
			<div class="header-left">
				<nav>
					<ul>
						<li><a href="/" class="active">Home</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</nav>
			</div>

			<div class="header-center">
				<h1>The Blog</h1>
			</div>

			<div class="header-right">
				<ul>
					<li><a href="#">UA</a></li>
					<li><a href="#" class="active">EN</a></li>
				</ul>
			</div>
		</div>
		
<hr class="header-divider"/>

		<div class="content">
			{% block body %}{% endblock %}
		</div>

			<footer>
				<p>Footer</p>
			</footer>
		</body>
	</html>
